@import "~/.config/rofi/menu.rasi"

window {
    width:                       360px;
}

listview {
    lines:                       10;
}

entry {
    placeholder:                 "System controls...";
}
